<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Correo con FLASK</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="../static/css/admin.css">
    <title>UBATÉ, ¡¡¡ DESTINO DE TRADICIONES !!!</title>
</head> 
<body id="page-top" class="form">
   <div class="titulo formulario">
    <h1>PANEL DE ADMINISTRADOR!!!</h1>
        <br>
    <h4> A continuacion podras encontrar lo relacionado a los atractivos disponibles en tu territorio HUILENSE!!!.</h4>
    <br>
    </div>
    <form action="#" class="form">
        <div class="flex-row">
        <table >

            <tr>
          
              <td><h2><a href="/agregaratractivos" class="btn">Agregar atractivos</a></h2></td>
            </tr>
        </table>
    </div>
    <div class="">
        <table >
            <tr>
              <td><h2><a href="./atractivos" class="btn">Ver atractivos</a></h2></td>
            </tr>
          
           
          
          </table>
        </div>
       
        </div>
        <a href="./" class="cancelar">salir</a>
        
    </form>
</div>
   
    </body>






</html>